.container, .hero {
    background-color: black;
    color: white;
}

.hero{display: flex;
    justify-content: space-around;
}

.hero .right , .hero .left { padding: 10px;
    word-spacing: 20px;
   

}

.line1{
    font-size: 48px;
    font-weight: 500;
}

.line2{
    font-size: 24px;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 150px;
    
}
.lines{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}
